* {
  box-sizing: border-box;
  /* Đảm bảo padding/margin không làm tăng kích thước phần tử */
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Ẩn thanh trượt ngang */
  .home-container {
    height: 100vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    .row {
      .left-side {
        height: 100vh;
        hr {
          border-width: 2px;
        }
      }
      .right-side {
        height: 100vh;
      }
    }
  }
}
