/* App.css */
* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("../src/public/image/cityBackground.jpg"); /* Đường dẫn từ folder public */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;

  .app-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
}
